<!-- partial that contains a form for adding a comment -->

<div style="text-align:left"> 
   <h4 class="ui header">
     Comments
   </h4>
   <form class="ui form" action="trainer-dashboard/addComment" method="POST">
     <div class="ui field">
       <textarea rows="2" name="comment"> I didn't get this to work </textarea>
     </div>
       
     <button class="ui blue submit button"> Update </button>
   </form> 
 </div> 
