<!-- View that displays the about page -->

{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h1>
    PlayGym App
  </h1>
  <h3>
    This is an app that allows members and trainers to login and create, view or delete assessment lists and assessments.
 </h3>
</section>