<!-- view that displays the main dashboard to a logged in user - list assessment list and add assessment list partials added -->

{{> menu id="dashboard"}}

<section class="ui segment">
  
    {{> list-assessmentLists}}
  {{> add-assessmentList}}

</section>