<!--  view that displays the main index page of the app - allows a user to login or register -->

{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <div class="ui grid" style ="text-align:center";>
    <div class="eight wide column">
      <h1> Welcome to the PlayGym App </h1>
      <h3> Sign up or Log in... </h3>
    </div>
    <div class="eight wide column">   
      <img src="https://cdn.glitch.com/017c6f46-d4e0-4675-8afc-b02b5d7bef4b%2Fgym-app.png?1535927428214" alt = "Welcome to PlayGym App">
    </div>
</section>