<!--  view that displays the trainer dashboard containing a members assessment lists - trainer-asssessmentlists partial added -->

{{> trainer-menu }}

<section class="ui segment">
    
  {{> trainer-assessmentLists}}
  
</section>